@page "/news"
@using JitDalshe.Ui.Admin.Components.News
@using JitDalshe.Ui.Admin.Models
@using JitDalshe.Ui.Admin.Services.NewsService
@inject INewsService NewsService

<PageTitle>Новости</PageTitle>

<h1>Новости</h1>
@if (_news is not null)
{
    @foreach (var news in _news)
    {
        <NewsCard News="news" OnNewsEditedCallback="LoadNewsAsync" OnNewsDeletedCallback="LoadNewsAsync"/>
    }
}
else
{
    <p>Loading...</p>
}

@code {

    private News[] _news = null!;

    private async Task LoadNewsAsync()
    {
        _news = await NewsService.FindAllAsync();
    }

    protected override Task OnInitializedAsync()
        => LoadNewsAsync();

}