@page "/banners"
@using JitDalshe.Ui.Admin.Models
@using JitDalshe.Ui.Admin.Components.Banners

<PageTitle>Баннеры</PageTitle>

<h1 class="mb-4">Баннеры</h1>

<h2>Предпросмотр активных баннеров</h2>

<main class="main-slider-container">
    <BannersSlider Items="_displayingBanners"/>
</main>

<div class="topbar-container">
    <h2>Полный список баннеров</h2>
    @* <button class="btn btn-secondary btn-create-modal" *@
    @*         @onclick="ShowCreateEventModalAsync"> *@
    @*     + Добавить *@
    @* </button> *@
</div>

@if (_banners is not null)
{
    @foreach (var banner in _banners)
    {
        <BannerCard Banner="banner"/>
    }
}
else
{
    <p>Loading...</p>
}

@*TODO общий список с пагинацией*@


@code {

    private readonly PreviewBanner[] _displayingBanners =
    [
        new("Первый", "https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 0),
        new("Второй", "https://images.unsplash.com/photo-1566438480900-0609be27a4be?q=80&w=2194&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 1, "https://google.com")
    ];

    private readonly Banner[] _banners =
    [
        new(
            Id: Guid.NewGuid(),
            Title: "Первый",
            ImageUrl: "https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
            DisplayOrder: 0),
    ];

}