.main-slider-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 0 5%;
    z-index: 1;
    width: 105%;
}

.topbar-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}