@page "/events"
@using System.Net
@using JitDalshe.Ui.Admin.Api.Events
@using JitDalshe.Ui.Admin.Models
@using JitDalshe.Ui.Admin.Components.Events
@using JitDalshe.Ui.Admin.Extensions
@inject IEventsApiClient EventsApiClient
@inject IToastService ToastService
@inject IJSRuntime JsRuntime

<PageTitle>События</PageTitle>

<div class="topbar-container">
    <h1>События</h1>
    <button class="btn btn-secondary btn-create-modal"
            @onclick="ShowCreateEventModalAsync">
        + Добавить
    </button>
</div>
@if (_events is not null)
{
    @foreach (var eventItem in _events)
    {
        <EventCard Event="eventItem"/>
    }
}
else
{
    <p>Loading...</p>
}

<EventCard Event="@(new Event(Guid.NewGuid(), nameof(Event.Title), null, DateOnly.MinValue, string.Empty))"/>
<CreateEventModal Id="@CreateEventModalId"/>

@code {
    private const string CreateEventModalId = "modal_create_event";
    private Event[] _events = null!;

    private async Task LoadEventsAsync()
    {
        try
        {
            var response = await EventsApiClient.ListEventsAsync();
            if (response.StatusCode is HttpStatusCode.OK)
            {
                _events = response.Content!;
            }
            else
            {
                var error = response.Error!.DeserializeError();
                ToastService.ShowError(error.Message);
                _events = [];
            }
        }
        catch (Exception e)
        {
            ToastService.ShowPermanentError(e);
            _events = [];
        }
    }

    private async Task ShowCreateEventModalAsync()
    {
        await JsRuntime.InvokeVoidAsync("showModal", $"#{CreateEventModalId}");
    }

    protected override Task OnInitializedAsync()
        => LoadEventsAsync();

}