@page "/news"
@using JitDalshe.Ui.Admin.Api
@using JitDalshe.Ui.Admin.Components.News
@using JitDalshe.Ui.Admin.Extensions
@using JitDalshe.Ui.Admin.Models
@inject IApiFacade Api
@inject IToastService ToastService

<PageTitle>Новости</PageTitle>

<h1>Новости</h1>
@if (_news is not null)
{
    @foreach (var news in _news)
    {
        <NewsCard News="news" OnNewsEditedCallback="LoadNewsAsync" OnNewsDeletedCallback="LoadNewsAsync"/>
    }
}
else
{
    <p>Loading...</p>
}

@code {

    private News[] _news = null!;

    private async Task LoadNewsAsync()
    {
        try
        {
            _news = await Api.ListNewsAsync(
                defaultValue: [],
                onErrorCallback: error => ToastService.ShowError(error.Message));
        }
        catch (Exception e)
        {
            ToastService.ShowPermanentError(e);
            _news = [];
        }
    }

    protected override Task OnInitializedAsync()
        => LoadNewsAsync();

}