@page "/news"
@using JitDalshe.Ui.Admin.Models
@using JitDalshe.Ui.Admin.Components.News

<PageTitle>Новости</PageTitle>

<h1>Новости</h1>
<NewsCard News="_news"/>

@code {

    private readonly News _news = new(
        Id: Guid.NewGuid(),
        Text: "Состоялся внутренний семинар для челябинских онкопсихологов АНО «Жить дальше».\n\nРазвитие сообщества, постоянное обучение специалистов — важнейшие задачи, которые стоят перед организацией и одновременно являются частью проекта «Лечение словом». От этой работы напрямую зависит качество психологической помощи онкопациентам и их близким.\n\nНа семинаре онкопсихологи обсудили сложности, которые возникают при выходе в стационар, предложили техники, с помощью которых можно справиться со стрессом, составили рекомендации, как работать со сложными пациентами.\n\nПомощь онкопациентам в стационаре — тоже часть проекта «Лечение словом». Наши психологи занимаются этой работой давно, но теперь в нее вовлечены практически все специалисты. И тем, кто только начинает консультировать в условиях стационара, нужны знания и поддержка опытных коллег.\n\nСеминар вел онкопсихолог АНО «Жить дальше» Григорий Пьячёв, участники высоко оценили его работу.\n\n----------------------------------—\nПроект «Лечение словом» реализуется при поддержке Фонда поддержки гражданских инициатив Южного Урала.\n\n#грантыГубернатора74\n#НКО74",
        PublishDate: DateOnly.FromDateTime(DateTime.Today),
        Photos:
        [
            new NewsPhoto(
                Id: Guid.NewGuid(),
                Uri: "https://sun9-75.userapi.com/impg/kFUchy2PXPldTN7-5s13WHRBNf21J4pAFW3GBQ/0Th53hNJJbo.jpg?size=1050x1050&quality=95&sign=0e6eb910ba478419c8a10c2868d21225&type=album",
                IsPrimary: true
            )
        ]
    );

}