<div class="form-check">
    <InputCheckbox id="@_id" class="form-check-input" @bind-Value="Value" ValueChanged="@ValueChanged"/>
    <label for="@_id" class="form-check-label">@Label</label>
</div>

@code {

    private readonly string _id = Guid.NewGuid().ToString();

    [Parameter] public required string Label { get; init; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
}