.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-upload-label {
    cursor: pointer;
}

.uploaded-image {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
