@using JitDalshe.Ui.Admin.Models

<section class="main-section">
    <article class="main-article">
        <Swiper Items="@Items.OrderBy(x => x.DisplayOrder).ToArray()"/>
    </article>
</section>

@code {
    [Parameter] public required PreviewBanner[] Items { get; init; } = [];

}