@using JitDalshe.Ui.Admin.Models
@inject IJSRuntime JsRuntime

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        @foreach (var item in Items)
        {
            <div class="swiper-slide"
                 style="background-image: url('@item.ImageUrl');
                        @(item.RedirectOnClickUrl is null ? null : "cursor: pointer;")"
                 @onclick="async () => await RedirectAsync(item.RedirectOnClickUrl)">
                <h2 class="slide-text">@item.Title</h2>
            </div>
        }
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

@code {
    [Parameter] public required DisplayingBanner[] Items { get; init; } = [];

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initSwiper");
        }
    }

    private async Task RedirectAsync(string? url)
    {
        if (url is not null)
        {
            await JsRuntime.InvokeVoidAsync("redirectTo", url);
        }
    }

}