.swiper {
    height: max-content;
    min-height: 640px;
}

.swiper-slide {
    height: 600px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    gap: 10%;
    border-radius: 70px;

    background-color: rgba(0, 177, 197, 0.2);
    overflow: hidden;
}

a.swiper-slide {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    font-size: 26px;
    line-height: 38px;
    font-family: Golos, sans-serif;
}