@using BlazorBootstrap
@using JitDalshe.Ui.Admin.Models

<div class="card">
    <img src="@News.Photos.First(x => x.IsPrimary).Uri" class="card-img-top" alt=""/>
    <div class="card-body">
        <h5 class="card-title">@News.Text</h5>
    </div>
</div>

<Modal @ref="_modal"/>

@code {
    private Modal _modal = null!;

    [Parameter]
    public News News { get; set; }
}