.image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.image-upload-label {
    cursor: pointer;
}

.image-upload-box {
    width: 200px;
    height: 200px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed #999;
}

.plus-sign {
    font-size: 50px;
    color: #999;
}

.uploaded-image {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: 25%;
}